body {
  font-family: 'Noto Sans SC', sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  line-height: 1.6;
}

h1 {
  font-family: 'Noto Sans SC', sans-serif;
  color: #0C395E;
  text-align: center;
  margin: 100px auto;
  font-size: 1.5em;
  max-width: 600px;
}

span {
  background: inherit;
  text-align: center;
  position: relative;
}
h3 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.2em;
}
.title {
  padding-top: 5%;
  font-family: 'Lato', 'Noto Sans SC', sans-serif;
  position: relative;
  max-width: 900px;
  color: #0C395E;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 3rem;
}

.title::before {
  content: '\00a0\00a0\00a0';
  text-decoration: line-through;
  margin: auto 0.3em;

}

.title::after {
  content: '\00a0\00a0\00a0';
  text-decoration: line-through;
  margin: auto 0.3em;
}
.heading {
  font-family: 'Lato', 'Noto Sans SC', sans-serif;
  position: relative;
  max-width: 700px;
  color: #0C395E;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.heading::before {
  content: '\00a0\00a0\00a0\00a0';
  text-decoration: line-through;
  margin: auto 0.5em;
}

.heading::after {
  content: '\00a0\00a0\00a0\00a0';
  text-decoration: line-through;
  margin: auto 0.5em;
}

h4 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.2em;
  color: #1082E1;
}



p ,li{
  font-family: 'Noto Sans SC', sans-serif;
  font-size: .9em;
  color: #505050;
  text-align: left;
  line-height: inherit;
}
p {
  font-family: 'Noto Sans SC', sans-serif;
  margin-top: 10px;
  font-size: .9em;
  color: #505050;
  text-align: center;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding: 2% 0;
  background-color: #f2f2f2;
  text-align: center;
}


.me {
  width: 60%;
  height: auto;
}

.sub-headers {
  color: #0C395E;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.0rem;
}

.headers {
  border-style: solid;
  border-width: thin;
  border-color: #0C395E;
  text-align: center;
  font-size: 20px;
  color: #0C395E;
  text-transform: uppercase;

}

.left {
  text-align: left;
}

.closer {
  background-color: #0C395E;
}

.hrtop {
  border-top: 3px dotted #f2f2f2;
}

.jobs {
  text-align: center;
  font-size: 20px;
  color: #0C395E;
  text-transform: uppercase;
}

.quotes {
  color: #0C395E;
  text-align: center;
  font-size: .97rem;
}

.quotes2 {
  color: #f2f2f2;
  text-align: center;
  font-size: .97rem;
}

.education {
  padding-top: 6%;
  color: #0C395E;
  font-size: 1.2rem;
  font-family: 'Noto Sans SC', sans-serif;
}

.dates {
  font-size: 15px;
  color: #1082E1;
  text-align: center;
}

.logo {
  text-align: center;
  background-color: #f2f2f2;
  margin-left: 10%;
}

.logo:hover {
  filter: brightness(80%);
}

.logo2 {
  text-align: center;
  background-color: inherit;
}
.logo3 {
  text-align: center;
  background-color: inherit;
  margin-left: .9%;
}

.footer {
  color: #f2f2f2;
  letter-spacing: 5px;
}

/* skills */
.skillz {
  font-size: 1.2em;
  margin: auto;
  text-align: center;
  color: #176EB6;
}

.boarders {
  background-color: #f2f2f2;
}

.skill {
  padding: 3%;
  border-bottom: solid;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}

.city {
  background: url("city.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: 70%;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: .9;
}
